.characters {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.character {
  position: relative;
  margin-bottom: 20px;

  .character-details{ position: relative; }
  .character-header {
    height: 65px;
    background-size: cover;
  }

  .character-about {
    color: #fff;

    .class {
      position: absolute;
      top: 12px;
      left: 65px;
      font-size: 24px;
    }

    .race {
      position: absolute;
      top: 35px;
      left: 65px;
      font-size: 16px;
    }

    .level {
      position: absolute;
      top: 20px;
      right: 10px;
      font-size: 28px;
    }

    .prestige { color: #EFDD56; }
  }

  .character-equipment { text-align: center; }
}
