.factions {
  padding: 0.75em;
  text-align: center;
  ul { display: inline-block; }
}
.faction {
  width: 80px;
  margin-bottom: 8px;
  padding: 0;
  display: inline-block;
}
.faction-icon {
  height: 32px;
  width: 32px;
}
.faction-level { font-weight: bold; }
